@import "src/styles/_base.scss";
@import "src/styles/_fontsadd.scss";

:root {
  --post-color-main: rgba(0, 0, 0, 1);
  --post-color-alt: rgba(0, 170, 255, 1);
  --post-color-alt_2: rgba(150, 94, 235, 1);

  --post-fontFamily: 'Lato';
  --post-fontWeight-main: 400;
  --post-fontWeight-alt: 700;

  --hero-color-main: rgba(255, 64, 83, 1);
}

body, html {
  scroll-behavior: smooth;
}

#stk-spoiler {
  opacity: 0;
}
#stk-spoiler:hover {
  opacity: 1;
}